.invoice_template
  %div
    %p.c2.c8
      %img{:height => "84", :src => "images/image00.png", :width => "790"}/
  %p.c2.c6
    %span
  %p.c2.c6
    %span.c16.c9
  %a{:href => "#", :name => "38a3c4250653ec00cc61c1684f2106e0e577f68e"}
  %a{:href => "#", :name => "0"}
  %table.c10{:cellpadding => "0", :cellspacing => "0"}
    %tbody
      %tr
        %td.c28
          %p.c2.title
            %a{:name => "h.wo1vov4esjam"}
            %span INVOICE
            %br
            
          %p
            = @invoice.created_at.to_formatted_s(:long)
        %td.c21
          %h3.c2.c13
            %a{:name => "h.gk0m3xomtser"}
            %span 
              %br
              = @invoice.account.display_name
          %h3.c2.c13
            %a{:name => "h.gk0m3xomtser"}
            %span 
            = @invoice.account.email
            %br
            = @invoice.account.address
          %p.c2.c6
            %span
  %p.c2.c6
    %span.c16.c9
  %a{:href => "#", :name => "9b50c75835c85852ec2fd6de199e331bf4a71701"}
  %a{:href => "#", :name => "1"}
  %table.c10{:cellpadding => "0", :cellspacing => "0"}
    %tbody
      %tr
        %td.c7
          %h1.c2
            %a{:name => "h.cuxr88a7q4l7"}
            %span Product
        %td.c18
          %h1.c2
            %a{:name => "h.egqd53r4a50c"}
            %span QTY
        %td.c24.c27
          %h1.c2
            %a{:name => "h.ajiu4z7p9n2t"}
            %span UNIT PRICE
        %td.c12
          %h1.c2
            %a{:name => "h.s5s15jx2g2xh"}
            %span TOTAL
      - @invoice.line_items.each do |item|
        %tr
          %td.c11
            %p.c2
              %span
                = item.product.name
          %td.c1
            %p.c2.c13
              %span
                = item.quantity
          %td.c5
            %p.c2.c13
              %span
                = item.product.unit_price
          %td.c3
            %p.c2.c13
              %span
                = item.total
        %tr
          %td.c11
            %p.c0
              %span.c4
          %td.c1
            %p.c0
              %span.c4
          %td.c5
            %p.c0
              %span.c4
          %td.c3
            %p.c0
              %span.c4
      %tr
        %td.c11
          %p.c0
            %span.c4
        %td.c1
          %p.c0
            %span.c4
        %td.c5.c24
          %h1.c2.total
            %a{:name => "h.sssg3aoj2tzb"}
            %span SUB TOTAL
        %td.c3.c24
          %h1.c2.c13.total
            %a{:name => "h.sssg3aoj2tzb"}
            %span= @invoice.total
      %tr.no_back_ground
        %td.c11
          %p.c0
            %span.c4
        %td.c1
          %p.c0
            %span.c4
        %td.c5.c24
          %h1.c2.total
            %a{:name => "h.sssg3aoj2tzb"}
            %span TAX %
        %td.c3.c24
          %h1.c2.c13.total
            %a{:name => "h.sssg3aoj2tzb"}
            %span= @invoice.tax
      %tr
        %td.c11
          %p.c0
            %span.c4
        %td.c1
          %p.c0
            %span.c4
        %td.c5.c24
          %h1.c2.total
            %a{:name => "h.sssg3aoj2tzb"}
            %span GRAND TOTAL
        %td.c3.c24
          %h1.c2.c13.total
            %a{:name => "h.sssg3aoj2tzb"}
            %span= @invoice.grand_total
  %p.c2.c6.c29
    %span.c16.c9
  %a{:href => "#", :name => "48300ed7adf452bda9db3dbeeb2881de3069754e"}
  %a{:href => "#", :name => "2"}
  %table.c10{:cellpadding => "0", :cellspacing => "0"}
    %tbody
      %tr
        %td.c15
          %p.c2.c6
            %span.c9
          %a{:href => "#", :name => "94134639e87faf65c836f784c0a56b8aeabf843c"}
          %a{:href => "#", :name => "3"}
          %table.c10{:cellpadding => "0", :cellspacing => "0"}
            %tbody
              %tr.c23
                %td.c19
                  %p.c2
                    %span.c9 PAYMENT TERMS
                  %p.c2
                    %span To be made payable to First name, Last name
                  %p.c2.c6
                    %span.c9
              %tr.c26
                %td.c19
                  %p.c2
                    %span.c9 ADDRESS
                  %p.c2
                    %span 123 Main Street • Boulder, CO • 80026
          %p.c2.c6
            %span.c9
        %td.c15
          %p.c2.c6
            %span.c9
          %a{:href => "#", :name => "3d98349db41c1cad1eeb71df9cee6b8c0bbe9d40"}
          %a{:href => "#", :name => "4"}
          %table.c10{:cellpadding => "0", :cellspacing => "0"}
            %tbody
              %tr.c22
                %td.c20
                  %p.c2
                    %span.c9 APPROVED BY
              %tr.c22
                %td.c20
                  %p.c2
                    %span.c9 NAME
              %tr.c22
                %td.c20
                  %p.c2
                    %span.c9 FOR
              %tr.c22
                %td.c20
                  %p.c2
                    %span.c9 DATE
          %p.c2.c6
            %span.c9
  %p.c2.c6.c29
    %span.c9.c16
  %div
    %p.c17.c2
      %span.c30                      
    %p.c2.c6.c17
      %span
    %p.c17.c2.c6
      %span
    %p.c17.c2
      %img{:height => "32", :src => "images/image01.png", :width => "791"}/


