- title "Product"

%p
  %strong Name:
  = @product.name
%p
  %strong Key:
  = @product.key
%p
  %strong Unit Price:
  = @product.unit_price
%p
  %strong Brand:
  = @product.brand
%p
  %strong Quantity:
  = @product.quantity
%p
  %strong Comments:
  = @product.comments

%p
  = link_to "Edit", edit_product_path(@product)
  |
  = link_to "Destroy", @product, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", products_path
